[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "my-blog/themes/ananke"]
	path = my-blog/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
